@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: "PitBull";
    src: url("./assets/fonts/PitbullFont.otf");
}

.POPPINS-FONT {
    font-family: "Poppins", sans-serif;
}

.PITBULL-FONT {
    font-family: "PitBull", sans-serif;
}

.TEXT-OUTLINE{
    text-shadow: 0 0 5px #000;
}

.GRID{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
}

.OPENED{
    grid-template-rows: 1fr;
}